@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.header {
    display: flex;
    align-items: center;
    overflow: hidden;
}
.header nav ul {
    display: flex;
    justify-content: space-around;
    gap: 100px;
    align-items: center;
    list-style: none;
}
.header nav ul li img {
 height: 100px;
 width: 140px;
 margin-right: 30px;
 border-radius: 10px 12px;
}

.header nav ul li a {
    text-decoration: none;
    color: black;
}
.header nav ul li a:hover {
    color: mediumslateblue;
}

.main button{
    font-size: 10px;
    background-color: rgb(39, 18, 155);
    color: white;
    border-radius: 12px;
    border: none;
    padding: 10px 12px;
}
.footer button{
    font-size: 10px;
    background-color: rgb(39, 18, 155);
    color: white;
    border-radius: 12px;
    border: none;
    padding: 10px 12px;
}
.main{ 
    width: 100%;
    margin: 200px auto;
    display: flex;
    align-items: center;
    margin-top: 100px;
    justify-content: center;
    gap: 100px;
    overflow: hidden;
}
.main left-section h1 {
    margin-bottom: 10px;
}
.left-section p {
    margin-bottom: 20px;
}

 .right-section img{
    height: 250px;
    width: 450px;
 }

 .footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    overflow: hidden;
    margin-bottom: 10px;
 }
 .footer input{
    width: 200px;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    padding: 10px 20px;
    margin-right: 20px;
 }